.container{
    background-color: rgb(103, 243, 243);
    color: white;
    width: 400px;
    height:  200px;
    border-radius: 10px;
}
h2{
    text-align: center;
    color: brown;
}
#lable{
    margin-left: 90px;
    color: brown;
}
input{
    background-color: darkcyan;
    
}
button{
    margin-top: 20px;
    border-radius: 10px;
    background-color: darkmagenta;
    color: white;  
}
#age{
    margin-left: 110px;
}
p{
    color: red;
    text-align: center;
}
#Social{
    color: white;
    margin-left: 110px;
    letter-spacing: 5px;
}